# ignore .env files
.env

# ignore test file
test.py

# ignore pycache
data-gathering/__pycache__/

# ignore all node modules
middleware/node_modules
frontend/node_modules

# package files
frontend/package-lock.json
middleware/package-lock.json