
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/************************************* Games Pages **************************************/


/* Navbar */

.navImg {

    height: 45px;
    width: auto;
    margin: 0px 10px 0px 0px;
}

/* Page Container */

.page-container {
    
    width: 100%;
    height: 100%;

    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Date */

.date-container {

    background: rgb(18, 18, 21);
    margin: 80px 0px 0px 0px;
    border-radius: 30px;
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    max-width: 360px;
    width: 90vw;

}
.date-text {

    font-family: 'Bebas Neue', cursive;
    color: #fff;

    margin: 20px 0px 0px 0px;
}

/* TimeSlot */

.timeSlot-container {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.timeSlot-header-container {

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    align-items: baseline;
}
.timeSlot-text {

    font-family: 'Bebas Neue', cursive;
    color: #fff;

    margin: 20px 0px 0px 0px;
}

/* Game */

.game-container {

    background: rgb(12, 12, 21);
    margin: 20px 20px 0px 20px;
    border-radius: 15px;
    width: 80vw;
    max-width: 300px;
}

.teams-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.team-div {
    opacity: 0.8;
    /*width: 45%;*/
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-team {
    border-radius: 15px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.away-team {
    border-radius: 0px 15px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*.between-teams {
    width: 10%;
    height: 100%;
    opacity: 0.8;
}
.between-teams-p {
    margin: 48.5px 0px 10px 0px;
}*/
.h-rule {
    width: 80%;
}
.teams-font{

    font-family: 'Bebas Neue', cursive;
    color: #fff;

    margin: 20px 0px 10px 0px;
}
.stats-font{

    font-family: 'Bebas Neue', cursive;
    color: #fff;

    margin: 10px 30px 10px 30px;
}
.time-composite-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin: 10px 0px 0px 0px;
}
.time-composite-items-container {
    width: 75%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

/* Button */

.button-container {

    width: 100%;

    margin: 10px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.more-stats-button {

    width: 125px;
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
  }