
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Top level container */

.more-stats-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Text Container */

.more-stats-text-container {

    width: 75%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    margin: 10px 0px 0px 0px;
}

/* Text */

.more-stats-text {

    font-family: 'Bebas Neue', cursive;
    color: #fff;

    margin: 10px 30px 10px 30px;
}